@font-face {
    font-family: Inter variable;
    src: url(assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}

*{
    margin: 0;
    padding: 0;
}


html, body{
    font-family:Inter variable;
    background-color: black;
    color: white;
    font-size: 14px;
    
}

#main{
    display: flex;  
    justify-content: center;    
    align-items: center;
    margin-top: 70px;
}

#card{
    display: flex;
    flex-direction: column;
    background-color:  hsl(0, 0%, 8%);
    align-items: center;
    border: 2px solid black;
    width: 350px;
    height: 500px;
    border-radius: 5px;
    gap: 15px ;
    z-index: 1;


}

#card img{
    display: block;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 10px;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    object-fit: cover;
}

h1{
    text-align: center;
    

}

h4{
    text-align: center;
    padding: 10px;
    color: hsl(75, 94%, 57%);
}
p{
    text-align: center;
    font-size: 12px;
    font-style: italic;
}

.menu{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
}

.menu-links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:hsl(0, 0%, 20%); 
    width: 200px;    
    height: 25px;
    border-radius: 5px;
    cursor: pointer;
    
   }


.menu-links:hover{
    background-color: hsl(75, 94%, 57%);
    }

.menu a{
    color: white;
    text-decoration: none;
    gap: 5vh;
}

a:hover{
    color: black ;
    font-weight: 700;
}

.botao-puxar {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: hsl(0, 0%, 20%);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease; /* Transição suave */
}

.botao-puxar:hover {
    transform: translateX(10px); /* Move o botão 10px para a direita */
    background-color: hsl(75, 94%, 57%);
    color: black;
    font-weight: 600;
}



.fundo-tecnologico {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #0a0a0a;
}

.particle {
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: #00ffcc;
    border-radius: 50%;
    animation: move 2s linear infinite;
    opacity: 0.8;
}

@keyframes move {
    0% {
        transform: translateX(0) translateY(0);
        opacity: 0.1;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: translateX(calc(100vw * (var(--dir-x)))) translateY(calc(100vh * (var(--dir-y))));
        opacity: 0;
    }
}







