@font-face {
    font-family: Inter variable;
    src: url(assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}

*{
    margin: 0;
    padding: 0;
}


html, body{
    font-family:Inter variable;
    background-color: black;
    color: white;
    font-size: 14px;
    
}

#main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

#card{
    display: flex;
    flex-direction: column;
    background-color:  hsl(0, 0%, 8%);
    align-items: center;
    border: none;
    width: 350px;
    height: 500px;
    border-radius: 5px;
    gap: 15px ;
}

img{
    display: block;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 10px;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    object-fit: cover;
}

h1{
    text-align: center;
    

}

h4{
    text-align: center;
    padding: 10px;
    color: hsl(75, 94%, 57%);
}
p{
    text-align: center;
    font-size: 12px;
    font-style: italic;
}

.menu{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
}

.menu-links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:hsl(0, 0%, 20%); 
    width: 200px;    
    height: 25px;
    border-radius: 5px;
    cursor: pointer;
   }


.menu-links:hover{
    background-color: hsl(75, 94%, 57%);
    }

.menu a{
    color: white;
    text-decoration: none;
    gap: 5vh;
}

a:hover{
    color: black ;
    font-weight: 700;
}




/* Ajustes para telas menores que 768px */
@media (max-width: 768px) {
    #card {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        margin-right: 20px;
        height: auto; /* Ajusta a altura para se adaptar ao conteúdo */

    }
    
    .menu {
        flex-direction: row; /* Coloca os links de menu lado a lado */
        gap: 10px;
    }

    .menu-links {
        width: 100px; /* Reduz a largura dos links no menu */
    }

    h1 {
        font-size: 1.5em; /* Ajusta o tamanho do título */
    }
}

/* Ajustes para telas menores que 480px */
@media (max-width: 480px) {
    #card {
        margin: 20px;
        padding: 10px;
        border-radius: 5px;
    }

    img {
        width: 50px; /* Reduz o tamanho da imagem */
    }

    h1 {
        font-size: 1.2em;
    }

    h4 {
        font-size: 1em;
    }

    p {
        font-size: 10px;
    }

    .menu-links {
        width: 80px; /* Reduz ainda mais a largura dos links no menu */
        height: 30px;
    }
    
    .menu a {
        font-size: 12px;
    }
}
